#!/usr/bin/env bash
#
# build-suckless.sh - build suckless software
#

echo ":: Clone suckless software"
#pushd ~/.local/src/dwm
#sudo make clean install
#popd

#pushd ~/.local/src/dmenu
#sudo make clean install
#popd

#pushd ~/.local/src/st
#sudo make clean install
#popd
