#!/usr/bin/env bash
#
# install-packages.sh - install software from repos
#

echo ":: Update system packages"
yay -Syu --noconfirm

echo ":: Install packages for DWM"
yay -Syu --noconfirm base-devel git
# st's dependencies
yay -Syu --noconfirm fontconfig freetype2 graphite harfbuzz libxrender libxft

#yay -Syu --noconfirm base-devel git xorg-server xorg-xinit libx11 libxinerama libxft webkit2gtk

echo ":: Install CLI apps"
yay -Syu --noconfirm less neovim

