#!/usr/bin/env bash
#
# clone-suckless.sh - clone suckless software
#

echo ":: Clone suckless software"
#pushd ~/.local/src
#git clone https://git.suckless.org/dwm
#git clone https://git.suckless.org/dmenu
#git clone https://git.suckless.org/st
#popd
